<video
  class="fixed top-0 right-0 min-w-full min-h-full -z-10 object-cover"
  *ngIf="!isLoading"
  autoplay
  muted
  loop
  #bgVid
>
  <source [src]="'weathers/' + bgVideoURL + '.mp4'" type="video/mp4" />
  Your browser doesn't support the video tag.
</video>
<ng-container *ngIf="isLoading; else dataLoaded">

<div class="h-full w-full flex justify-center items-center text-center text-xl">
    <fa-icon [icon]="faSpinner"></fa-icon>
    <span>Loading...</span>
</div>

</ng-container>
<ng-template #dataLoaded>
  <ng-container *ngIf="weatherData; else elseBlock">
    <app-current-weather class="h-4/5 block"></app-current-weather>
    <app-weather-conditions></app-weather-conditions>
    <app-weather-forecast></app-weather-forecast>
  </ng-container>
  <ng-template #elseBlock>
    <p
      class="text-center text-8xl font-extrabold h-full justify-center items-center flex"
    >
      An error occurred!<br />Try checking your internet connection.
    </p>
  </ng-template>
</ng-template>
